# -- Haskell
dist
dist-*
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
cabal.project.local~
cabal-dev/
.stack-work/
.hpc/
*.p_hi
*.tix

# macOS folder metadata
.DS_Store

# IDE
.vscode/
.idea/
